{% extends 'base.html' %}
{% block section %}
<div class="body_home">
    <div class="cont-home">
        {% for serie in marvel %}
        <div>
            <H1>{{serie.title}}</H1>
            <label for="">{{serie}}</label>
            <div>
                <img src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}" alt="">
            </div>
            {% if serie.description %}
                <p>{{serie.description}}</p>
            {% endif %}
            <label for="">Inicio:{{serie.startYear}} </label>
            <label for="">Final: {{serie.endYear}}</label>
            <label for="">Nota: {{serie.stories.available}}</label>
            <label for="">criadores nota: {{serie.creators.available}}</label>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}